@import "mixin/expanded";

.navigation {
  min-width: map-get($widths, nav-collapsed);
  width: map-get($widths, nav-collapsed);
  color: map-get($font-colors, negative);
  background-color: map-get($colors, nav);
  transition: $slow-transition;

  &__header {
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: map-get($widths, nav-collapsed);
    box-shadow: map-get($shadows, down-dark);
  }

  &__open {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: map-get($widths, nav-collapsed);
    height: map-get($widths, nav-collapsed);
    transform: rotate(180deg);
    transition: $slow-transition;
    opacity: 0.2;
    z-index: 3;

    &-icon {
      fill: white;
      transition: $base-transition;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__logo {
    position: fixed;
    left: 96px;
    transition: $slow-transition;
    z-index: 3;

    svg {
      min-width: map-get($widths, nav-collapsed);
      transition: $slow-transition;

      & path {
        fill: map-get($colors, logo);
        transition: $slow-transition;
      }
    }
  }

  &__menu {
    @include list-reset;
    @include headline-4;
  }

  &__menu-item {
    padding: 24px;
    display: flex;
    color: map-get($font-colors, secondary-negative);
    text-decoration: none;
    transition: $base-transition;
    white-space: nowrap;

    &:hover {
      color: map-get($font-colors, negative);

      .navigation__menu-icon {
        opacity: 1;
      }
    }

    &--active {
      color: map-get($font-colors, negative);
      background-color: map-get($colors, hover);

      .navigation__menu-icon {
        opacity: 1;
      }
    }

    &--notification {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 16px;
        right: 16px;
        width: 6px;
        height: 6px;
        background-color: map-get($colors, accent);
        border-radius: 50%;
      }
    }
  }

  &__menu-label {
    display: none;
    margin-left: 16px;
    transition: $slow-transition;
  }

  &__menu-icon {
    min-width: 24px;
    opacity: 0.2;
    transition: $base-transition;
  }

  @include respond-to(large) {
    @include expanded;
  }
}

.navigation--expanded {
  @include expanded;

  .navigation {
    &__open {
      left: map-get($widths, nav);
      display: flex;
      transform: rotate(0deg);
      opacity: 1;

      &-icon {
        fill: map-get($colors, accent-2);
        transition: $base-transition;
      }
    }
  }
}
