.page {
  height: 100%;

  body {
    display: flex;
    height: 100%;
    font-family: $font-family;
    color: map-get($font-colors, base);
  }

  .main {
    flex-grow: 1;
    background-color: #ffffff;
  }
}
