.svg-sprite {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;

  // Цвет

  &--c_white {
    fill: white;
  }

  &--c_blue {
    fill: blue;
  }

  // Размер

  &--size_sm {
    width: 16px;
    height: 16px;
  }

  &--size_lg {
    width: 32px;
    height: 32px;
  }
}
