.navigation--collapsed {
  width: 72px;

  .navigation {
    &__header {
      padding: 0;
    }

    &__open {
      display: flex;
      left: 0;
      transform: rotate(180deg);

      &:hover {
        .navigation__open-svg {
          opacity: 1;
        }
      }

      &-svg {
        fill: white;
        opacity: 0.2;
        transition: $base-transition;
      }
    }

    &__menu-item {
      &--notification {
        &::after {
          content: "";
          top: 16px;
          right: 16px;
          width: 6px;
          transform: none;
        }
      }
    }

    &__logo {
      left: 96px;

      svg {
        path {
          fill: map-get($colors, logo);
        }
      }
    }

    &__menu-label {
      display: none;
    }
  }
}
