.navigation--expanded {
  .navigation {
    &__open {
      position: absolute;
      left: 240px;
      display: flex;
      transform: rotate(0deg);

      &-svg {
        fill: map-get($colors, accent-2);
        transition: $base-transition;
      }
    }
  }
}
