.header {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 28px;
  padding-right: 48px;
  padding-left: 244px;
  height: 72px;
  box-shadow: map-get($shadows, down);

  &__title {
    @include headline-3;

    margin: 0;
    white-space: nowrap;
  }

  &--nav-expanded {
    padding-left: 72px;
  }

  @include respond-to(large) {
    padding-left: 48px;
  }
}
